<header class="d-flex flex-wrap align-items-center justify-content-between py-3 mb-4 border-bottom ">
  <div class="col-md-3 mb-2 mb-md-0 d-flex align-items-center">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img src="logo.png" alt="Logo" class="img-fluid me-2" style="height: 40px;margin-left: 50%;">
    </a>
  </div>

  <div class="col-md-6 d-flex justify-content-center">
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a class="nav-link px-3 text-white" routerLink="test">Passer le Test</a></li>
      <li><a class="nav-link px-3 text-white" routerLink="revoir-test">Revoir mon Résultat</a></li>
      <li><a class="nav-link px-3 text-white" routerLink="a-propos">A Propos du Test</a></li>
    </ul>
  </div>

  
</header>
